* {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111;
  color: #fffdf0;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 16px;
}

.main {
  max-width: 1000px;
  margin: auto;
  padding: 32px;
  display: grid;
  grid-template-columns: 260px auto 260px;
}

.feed-content,
.inventory-content {
  padding: 16px;
  height: 450px;
}

.feed,
.inventory,
.btn {
  border: 1px solid #fffdf0;
}

.feed-content {
  overflow: auto;
}

.feed-title {
  text-align: center;
  margin: 10px;
}

.feed-item {
  margin: 12px 0;
}

.camp {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.actions-title,
.crafting-title {
  text-align: center;
  margin: 10px;
}

.inventory {
}

.inventory-title {
  text-align: center;
  margin: 10px;
}

.inventory-content {
  overflow: auto;
}

.inventory-item {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 8px;
}

.btn {
  position: relative;
  margin: 8px;
  padding: 8px;
  display: inline-block;
}
.btn:hover {
  cursor: pointer;
  background: #fffdf0;
  color: #111;
}
.btn.disabled::after {
  /* content: 'Please wait...'; */
  content: attr(data-cooldown);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: #fffdf0;
  background: #646464;
  border: 1px solid #fffdf0;
}

.disabled {
  pointer-events: none;
}
